body {
    margin: 0;
    background: #f6f4f3

    ;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

nav {
    /* background-color: #242424; */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;}
nav .menu {
    font-size: 1px;
}
.logo img {
    max-width: 40%;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 100px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px; /* Jarak antara setiap container */
}

.container img {
    flex: 0 0 auto; /* Gambar tetap berukuran asli */

    width: 40%;
}

.container > div {
    flex: 1; /* Memungkinkan teks untuk mengisi ruang tersisa */
}

.container p {
    text-align: justify; /* Rata kanan untuk teks */
}

.container a{
    background-color: #d1c8c1;
    text-decoration: none;
    color: black;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    font-weight: bold;
}