body {
    margin: 0;
    background: #fff5ec;
}

nav {
    /* background-color: #242424; */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;}
nav .menu {
    font-size: 1px;
}
.logo img {
    max-width: 50%;
}
.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 80px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}



p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
a {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

/* table, th, td {
    border: 1px solid black;
} */
td{
    width: 70vw;
    padding: 0;
    height: 947px;
    margin: 0;

}
#tabel1 {
    vertical-align: top;
    background-color: #c7a40b;
    width: 30vw;
    padding: 3%;
    color: aliceblue;
    font-size: 23px;
    border-radius: 0px 100px 100px 0px; /* Atur radius untuk setiap sudut secara terpisah */
}

#tabel1 .isi img{
    width: 100%;
}
#tabel2 {
    vertical-align: top; /* Align content to the top of the cell */
    padding-inline:10% ;

}
.head img{
    width: 200px;
    margin: 20px;
}
